.BottomBox {
    width: 90%;
    height: 50px;
    flex-shrink: 0;

    justify-content: center;
    align-items: center;

    border-top: 2px solid #D9D9D9;
    background: var(--Background, #FFFCF3);

    position: absolute;
    bottom: 0;
}

.BottomContent {
    width: 15%;
    height: 37px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
    flex-shrink: 0;

    color: var(--Bottom, #D4D4D4);
    text-align: left;
    font-size: 20px;
    font-weight: 500;
    line-height: 20px; 
}


